.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
sqlmodel.mwb.bak
bonus dataset/reviews.rar
bonus dataset/reviews.csv
bonus dataset/RecommendationAlgorithms.pptx
bonus dataset/listings.csv
bonus dataset/calendar.csv
